# crontab
0 4 * * 0-5 /usr/local/bin/python /app/notifyer.py >> /proc/1/fd/1 2>> /proc/1/fd/2
0 7 * * 0-5 /usr/local/bin/python /app/notifyer.py >> /proc/1/fd/1 2>> /proc/1/fd/2
0 9 * * 0-5 /usr/local/bin/python /app/notifyer.py >> /proc/1/fd/1 2>> /proc/1/fd/2